---
export const prerender = false;
import Layout from "../layout/Layout.astro";
import AboutSection from "../components/AboutSection";
import TeamSection from "../components/TeamSection";

import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes, Asset } from "contentful";

import { Image } from "astro:assets";
import Circle from "../assets/circle.png";

export interface TeamMember {
  contentTypeId: "teamMember";
  fields: {
    name: EntryFieldTypes.Text;
    title: EntryFieldTypes.Text;
    twitterLink: EntryFieldTypes.Text;
    bio: EntryFieldTypes.Text;
    highlighted: EntryFieldTypes.Boolean;
    rank: EntryFieldTypes.Number;
    pfp: Asset;
  };
}

export interface AboutStats {
  contentTypeId: "aboutStats";
  fields: {
    descriptor: EntryFieldTypes.Text;
    statistic: EntryFieldTypes.Text;
    description: EntryFieldTypes.Text;
  };
}

const highlightedEntries = await contentfulClient.getEntries<TeamMember>({
  content_type: "teamMember",
  "fields.highlighted": true,
  order: ["fields.rank"],
});

const regularEntries = await contentfulClient.getEntries<TeamMember>({
  content_type: "teamMember",
  "fields.highlighted": false,
  order: ["fields.rank"],
});

const aboutStats = await contentfulClient.getEntries<AboutStats>({
  content_type: "aboutStats",
  order: ["sys.createdAt"],
});
---

<Layout>
  <div class="w-full flex flex-col items-center">
    <span class="text-turq font-semibold mb-12 desktop:hidden">ABOUT</span>
    <Image src={Circle} alt="circle" class="-z-10 absolute top-0" />
    
    <AboutSection aboutStats={aboutStats.items} client:only="react" />
    <TeamSection
      highlightedMembers={highlightedEntries.items}
      members={regularEntries.items}
      client:only="react"
    />
  </div>
</Layout>
