---
import Layout from "../layout/Layout.astro";
import AboutSection from "../components/AboutSection";
import TeamSection from "../components/TeamSection"
---

<Layout>
  <div class="w-full">
    <AboutSection client:only="react" />
    <TeamSection client:only="react" />
  </div>
</Layout>
