---
import Layout from "../layout/Layout.astro";
import AboutSection from "../components/AboutSection.astro";
import TeamSection from "../components/TeamSection.astro";
---

<Layout>
  <div class="w-full">
    <AboutSection />
    <TeamSection />
  </div>
</Layout>
