---
import Layout from "../layout/Layout.astro";
import ContactBody from "../components/ContactBody";
import ContactForm from "../components/ContactForm";
import ScrambleText from "../components/ScrambleText";
---

<Layout>
  <div class="w-full flex gap-x-24">
    <div class="w-1/2 flex flex-col gap-y-8">
      <span class="text-turq font-bold"> CONTACT </span>
      <ScrambleText
        finalText="LET'S BUILD SOMETHING EPIC TOGETHER"
        className="text-6xl font-medium w-full"
        duration={2}
        charsPerGroup={1}
        client:load
      />
      <ContactBody client:only="react" />
    </div>
    <div class="grow"></div>
    <div class="w-1/2 flex flex-col">
      <ContactForm client:only="react" />
    </div>
  </div>
</Layout>
