---
import EndorsementContent from "../components/EndorsementContent";
import Layout from "../layout/Layout.astro";
import ScrambleText from "../components/ScrambleText";

import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes, Asset } from "contentful";
import type { Document } from "@contentful/rich-text-types";

import { Image } from "astro:assets";
import Circle from "../assets/circle.png";
export interface Endorsement {
  contentTypeId: "endorsement";
  fields: {
    name: EntryFieldTypes.Text;
    title: EntryFieldTypes.Text;
    profilePicture: Asset;
    projectLogo: Asset;
    projectLogoColour: Asset;
    quote: Document;
    rank: EntryFieldTypes.Number;
  };
}

const entries = await contentfulClient.getEntries<Endorsement>({
  content_type: "endorsement",
  order: ["fields.rank"],
});
---

<Layout>
  <div class="flex flex-col items-center">
    <span class="text-turq font-semibold mb-8 desktop:hidden">ENDORSEMENTS</span
    >

    <Image src={Circle} alt="circle" class="-z-10 absolute top-0" />

    <ScrambleText
      finalText="DON'T TAKE OUR WORD FOR IT.\nTAKE THEIRS."
      className="text-3xl sm:text-5xl font-medium text-center whitespace-pre-wrap z-10"
      client:only="react"
      duration={1}
    />

    <EndorsementContent endorsements={entries.items} client:only="react" />
  </div>
</Layout>
