---
export const prerender = false;

import EndorsementContent from "../components/EndorsementContent";
import Layout from "../layout/Layout.astro";
import ScrollToTopButton from "../components/ScrollToTopButton";
import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes, Asset } from "contentful";
import type { Document } from "@contentful/rich-text-types";

import { Image } from "astro:assets";
import Circle from "../assets/circle.png";
import EndorsementHeader from "../components/EndorsementHeader";
export interface Endorsement {
  contentTypeId: "endorsement";
  fields: {
    name: EntryFieldTypes.Text;
    title: EntryFieldTypes.Text;
    profilePicture: Asset;
    projectLogo: Asset;
    projectLogoColour: Asset;
    quote: Document;
    rank: EntryFieldTypes.Number;
    featured: EntryFieldTypes.Boolean;
  };
}

const entries = await contentfulClient.getEntries<Endorsement>({
  content_type: "endorsement",
  order: ["fields.rank"],
});
---

<Layout>
  <div class="flex flex-col items-center">
    <span class="text-turq font-semibold mb-8 desktop:hidden">ENDORSEMENTS</span
    >

    <Image src={Circle} alt="circle" class="-z-10 absolute top-0" />
    <div class="relative">
      <EndorsementHeader client:only="react" />
      <EndorsementContent endorsements={entries.items} client:only="react" />
    </div>
  </div>
  <ScrollToTopButton client:only="react" />
</Layout>
