---
import ReactComponent from "../components/ReactComponent";
import Layout from "../layout/Layout.astro";
---

<!-- <Layout> -->
<div class="bg-[url('/bg.png')] bg-cover bg-scroll">
  <div class="h-screen"></div>
  <div class="h-screen"></div>
  <div class="h-screen"></div>
  <ReactComponent client:only="react" />
  <div class="h-screen"></div>
  <div class="h-screen"></div>
  <div class="h-screen"></div>
</div>
<!-- </Layout> -->
