---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-y-8 sm:gap-y-24 max-w-4xl">
    <h1 class="text-center text-3xl sm:text-5xl text-grey-90 font-medium">LEGAL</h1>
    <!-- <p class="text-grey-80">
      Effective Date: July 1st, 2024
      <br /><br />
      No representation of warranties
      <br /><br />
      Tangent is a trade name referring to a private holdings vehicle and affiliated
      advisory entity and does not make any representations that it is a licensed
      investment manager. Views expressed in posts (including podcasts, videos, article
      and social media) are those of the individual Tangent personnel quoted therein
      and are not the views of Tangent or its respective affiliates and/or subsidiaries.
      The posts are not directed to any investor or potential investor, and do not
      constitute an offer to sell or a solicitation of an offer to buy any securities
      and may not be used or relied upon in evaluating the merits of any investment.
      The posts are not intended to be, and must not be taken as, a basis for any
      investment decision. Past performance is not indicative of future results.
      None of what we discuss publicly is meant to be construed as financial advice
      and we make our best efforts to disclose conflicts of interests where applicable.

      <br /><br />
      The contents herein — and available on all public Tangent’s online social media
      accounts, platforms, sites — should not be construed as or relied upon in any
      manner as investment, legal, tax, or other advice. You should consult your
      own advisers as to legal, business, tax, and other related matters concerning
      any investment.
      <br /><br />

      THIS WEBSITE AND THE INFORMATION CONTAINED HEREIN ARE PROVIDED “AS IS.”
      NEITHER TANGENT NOR ANY OF ITS AFFILIATES IS PROVIDING ANY WARRANTIES AND
      REPRESENTATIONS REGARDING THIS WEBSITE. TANGENT AND ITS AFFILIATES
      DISCLAIM ALL WARRANTIES AND REPRESENTATIONS OF ANY KIND WITH REGARD TO
      THIS WEBSITE, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY,
      NON-INFRINGEMENT OF THIRD PARTY RIGHTS, FREEDOM FROM VIRUSES OR OTHER
      HARMFUL CODE, OR FITNESS FOR A PARTICULAR PURPOSE. TANGENT AND ITS
      AFFILIATES DO NOT WARRANT THE ACCURACY, ADEQUACY, OR COMPLETENESS OF THE
      INFORMATION AND MATERIALS CONTAINED ON THIS WEBSITE AND EXPRESSLY DISCLAIM
      LIABILITY FOR ERRORS OR OMISSIONS IN THE MATERIALS AND INFORMATION.
      <br /><br />

      Limitation of Liability The information contained herein in this website
      shall be accessed and used at the user's own risk and to the fullest
      extent permissible and subject and pursuant to all applicable laws and
      regulations. Tangent and its affiliates, subsidiaries, employees, agents,
      partners, principals and representatives shall not be liable for any
      direct, indirect, incidental, special, exemplary, consequential or other
      damages whatsoever, (including but not limited to liability for loss of
      use, data or profits), including but not limited to contract, negligence
      or other tortious actions, arising out of or in connection with this site,
      even if any of Tangent and its affiliates, subsidiaries, employees,
      agents, partners, principals and representatives has been advised of the
      possibility of such damages or losses that were, are being or will be
      incurred.
      
      <br/><br/>
      Modifications Tangent reserves all rights to make any and all
      changes in this website at its sole discretion without prior notice to the
      user. Tangent reserves the right to deny access to this website to anyone
      at any time without prior notice. Materials on our website may include
      technical inaccuracies or typographical errors. Changes may be
      periodically incorporated into this material. Tangent may make
      improvements and/or changes in the products, services and/or programmes
      described in these materials at any time without notice. 
      
      <br/><br/>
      Legal Notices You
      are responsible for all information, content, and materials you
      contribute, disclose, or share in any manner on or through the website and
      its associated services and you represent and warrant you have all rights
      necessary to do so. You are responsible for all your activity in
      connection with the website and its associated services.
    </p> -->
  </div>
</Layout>
