---
import Layout from "../layout/Layout.astro";
import Circle from "../assets/circle.png";
import { Image } from "astro:assets";
import { contentfulClient } from "../lib/contentful";

export interface LegalText {
  contentTypeId: "legalText";
  fields: {
    content: string;
  };
}

const legalEntries = await contentfulClient.getEntries<LegalText>({
  content_type: "legalText",
});
---

<Layout>
  <Image src={Circle} alt="circle" class="-z-10 absolute top-[50vh]" />
  <div class="flex flex-col gap-y-8 sm:gap-y-24 max-w-4xl">
    <h1 class="text-center text-3xl sm:text-5xl text-grey-90 font-medium">
      LEGAL
    </h1>
    <p class="text-grey-80 whitespace-pre-wrap">
      {legalEntries.items[0].fields.content}
    </p>
  </div>
</Layout>
