---
export const prerender = false;

import MediaSection from "../components/MediaSection";
import Layout from "../layout/Layout.astro";
import ScrollToTopButton from "../components/ScrollToTopButton";
import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes, Asset } from "contentful";

import { Image } from "astro:assets";
import Circle from "../assets/circle.png";
import MediaHeader from "../components/MediaHeader";

export interface Article {
  contentTypeId: "article";
  fields: {
    title: EntryFieldTypes.Text;
    date: EntryFieldTypes.Date;
    tags: EntryFieldTypes.Text[];
    description: EntryFieldTypes.Text;
    link: EntryFieldTypes.Text;
    highlighted: EntryFieldTypes.Boolean;
    rank: EntryFieldTypes.Number;
  };
}

export interface Podcast {
  contentTypeId: "podcast";
  fields: {
    title: EntryFieldTypes.Text;
    date: EntryFieldTypes.Date;
    tags: EntryFieldTypes.Text[];
    link: EntryFieldTypes.Text;
    featured: EntryFieldTypes.Boolean;
    rank: EntryFieldTypes.Number;
    thumbnail: Asset;
    embedId: EntryFieldTypes.Text;
  };
}

const featuredArticles = await contentfulClient.getEntries<Article>({
  content_type: "article",
  "fields.highlighted": true,
  order: ["fields.rank"],
});

const regularArticles = await contentfulClient.getEntries<Article>({
  content_type: "article",
  "fields.highlighted": false,
  order: ["fields.date"],
});

const featuredPodcasts = await contentfulClient.getEntries<Podcast>({
  content_type: "podcast",
  "fields.featured": true,
  order: ["fields.rank"],
});

const regularPodcasts = await contentfulClient.getEntries<Podcast>({
  content_type: "podcast",
  "fields.featured": false,
  order: ["fields.date"],
});

const podcasts = featuredPodcasts.items.concat(regularPodcasts.items);
const articles = featuredArticles.items.concat(regularArticles.items);
---

<Layout>
  <div class="flex flex-col items-center">
    <span class="text-turq font-semibold mb-8 desktop:hidden">MEDIA</span>

    <Image src={Circle} alt="circle" class="-z-10 absolute top-0" />

    <MediaHeader client:only="react" />

    <MediaSection client:only="react" articles={articles} podcasts={podcasts} />
    <ScrollToTopButton client:only="react" />
  </div>
</Layout>
