---
export const prerender = false;

import PortfolioContent from "../components/PortfolioContent";
import Layout from "../layout/Layout.astro";
import ScrollToTopButton from "../components/ScrollToTopButton";
import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes, Asset } from "contentful";

import { Image } from "astro:assets";
import Circle from "../assets/circle.png";
import PortfolioHeader from "../components/PortfolioHeader";

export interface PortfolioItem {
  contentTypeId: "portfolio";
  fields: {
    name: EntryFieldTypes.Text;
    tags: EntryFieldTypes.Text[];
    logo: Asset;
    logoColour: Asset;
    description: EntryFieldTypes.Text;
    rank: EntryFieldTypes.Number;
    link: EntryFieldTypes.Text;
  };
}

const portfolioEntries = await contentfulClient.getEntries<PortfolioItem>({
  content_type: "portfolio",
  order: ["fields.rank"],
});
console.log(
  import.meta.env.DEV
    ? import.meta.env.CONTENTFUL_PREVIEW_TOKEN
    : import.meta.env.CONTENTFUL_DELIVERY_TOKEN
);
---

<Layout>
  <div class="flex flex-col items-center">
    <span class="text-turq font-semibold mb-8 desktop:hidden">PORTFOLIO</span>

    <Image src={Circle} alt="circle" class="-z-10 absolute top-0" />
    <div class="relative">
      <PortfolioHeader client:only="react" />
      <PortfolioContent items={portfolioEntries.items} client:only="react" />
    </div>
    <ScrollToTopButton client:only="react" />
  </div>
</Layout>
