---
import PortfolioContent from "../components/PortfolioContent";
import Layout from "../layout/Layout.astro";
import ScrollToTopButton from "../components/ScrollToTopButton";
import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes, Asset, Entry } from "contentful";

import { Image } from "astro:assets";
import Circle from "../assets/circle.png";
import PortfolioHeader from "../components/PortfolioHeader";

export interface CategoryItem {
  contentTypeId: "category";
  fields: {
    title: EntryFieldTypes.Text;
  };
}

export interface PortfolioItem {
  contentTypeId: "portfolio";
  fields: {
    name: EntryFieldTypes.Text;
    tags: EntryFieldTypes.Text[];
    logo: Asset;
    logoColour: Asset;
    description: EntryFieldTypes.Text;
    rank: EntryFieldTypes.Number;
    link: EntryFieldTypes.Text;
    categories: EntryFieldTypes.Text[];
    sector: EntryFieldTypes.Text[];
    categoriesField?: EntryFieldTypes.Array<EntryFieldTypes.EntryLink<CategoryItem>>;
  };
}

export interface AllPortfolios {
  contentTypeId: "allPortfolios";
  fields: {
    projects: EntryFieldTypes.Array<EntryFieldTypes.EntryLink<PortfolioItem>>;
  };
}

const portfolioEntries = await contentfulClient.getEntries<PortfolioItem>({
  content_type: "portfolio",
  order: ["fields.rank"],
});

const allPortfolios = await contentfulClient.getEntries<AllPortfolios>({
  content_type: "allPortfolios",
  include: 2,
});

// Narrow to actual entries (fallback to empty array)
const projectEntries = (allPortfolios.items[0]?.fields?.projects ?? []) as unknown as Entry<PortfolioItem>[];
---

<Layout>
  <div class="flex flex-col items-center">
    <span class="text-turq font-semibold mb-8 desktop:hidden">PORTFOLIO</span>

    <Image src={Circle} alt="circle" class="-z-10 absolute top-0" />
    <div class="relative">
      <PortfolioHeader client:only="react" />
      <PortfolioContent items={projectEntries} client:only="react" />
    </div>
    <ScrollToTopButton client:only="react" />
  </div>
</Layout>
