---
import PortfolioContent from "../components/PortfolioContent";
import Layout from "../layout/Layout.astro";
import ScrambleText from "../components/ScrambleText";

import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes, Asset } from "contentful";

import { Image } from "astro:assets";
import Circle from "../assets/circle.png";

export interface PortfolioItem {
  contentTypeId: "portfolio";
  fields: {
    name: EntryFieldTypes.Text;
    tags: EntryFieldTypes.Text[];
    logo: Asset;
    logoColour: Asset;
    description: EntryFieldTypes.Text;
    rank: EntryFieldTypes.Number;
    link: EntryFieldTypes.Text;
  };
}

const portfolioEntries = await contentfulClient.getEntries<PortfolioItem>({
  content_type: "portfolio",
  order: ["fields.rank"],
});
---

<Layout>
  <div class="flex flex-col items-center">
    <Image src={Circle} alt="circle" class="-z-10 absolute top-0" />

    <div class="gap-y-6 text-center flex flex-col items-center">
      <ScrambleText
        finalText="PORTFOLIO"
        className="text-5xl font-medium"
        duration={1}
        client:load
      />
    </div>
    <PortfolioContent items={portfolioEntries.items} client:only="react" />
  </div>
</Layout>
