---
import Layout from "../layout/Layout.astro";
import ThesisHeader from "../components/ThesisHeader";
import ThesisSection from "../components/ThesisSection";
---

<Layout>
  <div class="flex flex-col items-center">
    <span class="text-turq font-semibold">THESIS</span>
    <ThesisHeader client:only="react" />

    <ThesisSection
      title="0-TO-1 APPS"
      text="Web2 app, but on a blockchain is not a credible product strategy. Crypto's biggest unlocks come from enable behaviors simply not possible elsewhere. From open social graphs to borderless in-game economies. We "
      highlightedText="want to uncover breakthrough, zero-to-one applications."
      client:only="react"
    />

    <ThesisSection
      title="MARKETS FOR EVERYTHING"
      text="Crypto has created a global pool of liquidity more accessible than any asset class’ that any developer can tap into. This makes crypto the most powerful trustless, interoperable and 24/7 financial rails of the world. From Internet-native financial primitives, digitizing real world assets, creating prediction markets, to financialized consumer applications,"
      highlightedText="crypto enables a global truth machine for value discovery on everything."
      client:only="react"
    />

    <ThesisSection
      title="0-TO-1 APPS"
      text="Bitcoin at its core is simply an instrument that coordinates a group of humans and/or hardware around the world. The same idea can be applied to other forms of resource coordination to build networks of any kind. > From coordinating GPU clusters to provide compute for AI models to orchestrating transparent exchange between biobanks for pharmaceutical use cases -"
      highlightedText="crypto is the ultimate global coordination layer."
      client:only="react"
    />
  </div>
</Layout>
