---
import Layout from "../layout/Layout.astro";
import ThesisHeader from "../components/ThesisHeader";
import ThesisSection from "../components/ThesisSection";

import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes, Asset } from "contentful";
import type { Document } from "@contentful/rich-text-types";

export interface ThesisContent {
  contentTypeId: "thesis";
  fields: {
    title: EntryFieldTypes.Text;
    description: Document;
    image: Asset;
    rank: EntryFieldTypes.Number;
  };
}

const entries = await contentfulClient.getEntries<ThesisContent>({
  content_type: "thesis",
  order: ["fields.rank"],
});
---

<Layout>
  <div class="flex flex-col items-center">
    <span class="text-turq font-semibold">THESIS</span>
    <ThesisHeader client:only="react" />

    {
      entries.items.map((entry: any) => (
        <ThesisSection
          title={entry.fields.title}
          content={entry.fields.description}
          image={entry.fields.image.fields.file.url}
          client:only="react"
        />
      ))
    }
  </div>
</Layout>
