---
import StatCard from "./StatCard.astro";
---

<div class="flex flex-col items-center">
  <div class="w-1/2 gap-y-6 text-center flex flex-col items-center">
    <span class="text-turq font-semibold">ABOUT US</span>
    <h1 class="text-5xl font-medium">
      THE CRYPTO-NATIVE INVESTORS YOU WANT IN YOUR CORNER
    </h1>
    <span class="text-grey-80"
      >Tangent is an evergreen angle fund uniquely built for founders in crypto</span
    >
  </div>
  <div class="grid grid-cols-3 gap-x-10 w-full  mt-12">
    <StatCard />
    <StatCard />
    <StatCard />
  </div>
  <hr class="w-full mt-16 border-grey-40" />

</div>
