<div class="bg-white/60 backdrop-blur-lg rounded-2xl p-8">
  <span class="text-lg"> since </span>
  <h1 class="text-3xl font-semibold mb-6">00</h1>
  <span class="text-grey-80"
    >Our team helped establish the defining APAC investment funds behind the
    most important crypto protocols and applications since 2018.</span
  >
</div>
