---
import Logo from "../assets/DarkLogo.svg";
import XIcon from "../assets/XIcon";
const { currentPath } = Astro.props;
---

<div
  class={`w-full bg-grey-90 px-8 py-6 gap-y-8 text-white flex flex-col items-center justify-center desktop:justify-between text-center desktop:flex-row  ${currentPath !== "" && "desktop:mt-16"}`}
  id="footer"
>
  <img src={Logo.src} class="max-w-72" />
  <div class="grow hidden sm:flex"></div>
  <div class="flex w-1/2 desktop:w-fit justify-evenly gap-x-16 mx-16">
    <a href="https://x.com/tangent_xyz" target="_blank">
      <XIcon className="size-6" />
    </a>
    <a href="/legal"> LEGAL </a>
  </div>
  <div class="text-sm text-grey-20">Tangent 2024 | All Rights Reserved</div>
</div>
<script>
  setTimeout(() => {
    const footer = document.getElementById("footer");
    if (footer) {
      footer.style.display = "flex";
    }
  }, 1000);
</script>
